html,body{width:100vw;height:auto;font-size:14px;margin:0;padding:0px;background-color:darkgray;overflow-x:hidden;}
h1,h2,h4,header,div,section,nav,article,figure{margin:0;padding:0;}
.active{background-color:coral;opacity:0.8;}